@model ExpenseCategory

@{
    ViewData["Title"] = "Create New Expense Category";
}

<form method="post" asp-action="Create">

    <div class="border p-5">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Create New Expense Category</h2>
        </div>

        <br />

       <div class="row">
            <div class="col-4">
                <label asp-for="ExpenseCategoryName"></label>
                <input asp-for="ExpenseCategoryName" class="form-control" />
                <span asp-validation-for="ExpenseCategoryName" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="w-12 btn-group" role="group">
            <input type="submit" class="btn btn-primary mx-1" value="Save" />
            <a asp-action="Index" class="btn btn-danger mx-1">Back</a>
        </div>

    </div>

</form>