@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    
    <h1 style=" font-size: 3em; margin: 1em 0; color: darkorange;">
       Welcome To Expense Manager
    </h1>

    <h4 style="margin-bottom:2em;">Track your expenses efficiently with our easy-to-use expense management system.</h4>

    <a asp-controller="Expense" asp-action="Index" class="btn btn-primary">Get Started</a>
</div>
